# 生成されたファイルや個人用の設定を無視
/000old_html_backup/
/0400ocr/
/0450wiki/
/0475exp_cvt/
/0480_exp_cvt_kana/
/0490_odoriji/
/0510web2/
/0520web3/
/0800wsl/
/config_resourcedb1/
/public_html/
# 個人用 VS Code 設定は無視
.vscode/settings.json
.vscode/launch.json
!.vscode/extensions.json
