仮想環境を再構築後に
pip install -r requirements.txt
で下を復元

antlr4-python3-runtime==4.9.3
click==8.3.1
colorama==0.4.6
hydra-core==1.3.2
lxml==6.0.2
numpy==2.2.6
omegaconf==2.3.0
opencv-python==4.12.0.88
packaging==25.0
pandas==2.3.3
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
six==1.17.0
tzdata==2025.2
