@font-face {
  font-family: 'myfont';
  src: url('./ipamjm.ttf') format('truetype');
  font-display: swap;
}

body {
  background: #f5deb3;
  font-family: 'myfont', serif;
}

mf {
  display: inline-block;
  font-size: 16px;
  color: black;
}

textarea, input, button, select, option {
  font-family: 'myfont';
  font-size: 16px;
  color: black;
}