@font-face {font-family: 'myfont';
    src: url('../root/ipamjm.ttf') format('truetype');
                                                      }

textarea,input,button,select,option {color: black;
    font-family: 'myfont';
font-size: 16px;
                                               }

mf {color: black;
font-family: 'myfont';
font-size: 16px;
                                  }

body{background: #f5deb3}

/*ボタンの左寄せ*/
.container {
  text-align: left;
}

/*ボタンの着色*/
#btn_chg{background-color: #ff9100;}
